<!DOCTYPE html>
<html lang="en">
  <head>
    {% set css %}
    {% include "style.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State of the Browser 2022 Attendees Webring</title>
  </head>
  <body>
    <h1>State of the Browser 2022 - Webring</h1>
    <p>A webring for everyone who came to this lovely conference.</p>
    <h2>Members</h2>
    <ol>
      {% for site in sites %}
        <li>
          <a href="{{ site.URL }}" target="_blank" rel="noopener noreferrer">{{ site.Title }}</a>
          <p>{{ site.Description }}</p>
          <p>Owner: {{ site["Owner name"] }}
          </p>
        </li>
      {% endfor %}
    </ol>
    <h2>Code snippet</h2>
    <p>Members, put this snippet on your website to display the webring! You can style it however you want.</p>
    <div>
      <p>Part of the
        <a href="https://sotb22-webring.neocities.org" target="_blank" rel="noopener noreferrer">State of the Browser 2022
          Webring</a>
      </p>
      <p>
        <a href="https://webring.sophiekoonin.workers.dev/prev" target="_blank" rel="noopener noreferrer">Previous</a>
        <a href="https://webring.sophiekoonin.workers.dev/next" target="_blank" rel="noopener noreferrer">Next</a>
        <a href="https://webring.sophiekoonin.workers.dev/random" target="_blank" rel="noopener noreferrer">Random</a>
        <a href="https://sotb22-webring.neocities.org" target="_blank" rel="noopener noreferrer">Members</a>
      </p>
      <textarea readonly rows="4"></textarea>
    </body>
  </body>
</html>